body{
    margin: 0;
    padding: 0;
background-color: black;
}
img{
    width: 40%;
    margin-left: 70px;
    position: relative;
    top: 0;
}
h2{
    margin-top: 55px;
    color: #785618 !important;
}
h1,h2{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%,-50%);
    color: #CB991E;
    
}
#emoji{
    font-size: 50px;
    margin-top: 50px;
    position: absolute;
    top: 25%;
    left: 85%;
    transform: translate(-170%,-20%);

}
a{
    text-decoration: none;
    color: teal;
    font-size: xx-large;
    font-weight: bold;
}
#backtoindex{
    margin: -100px 60px 70px 900px ;
    
}
.media_query{
    display: none;
}
.mq_link{
    display: none;
}
@media only screen and (max-width: 700px) 
{
    .thank-text{
        display: none;
    }
    #backtoindex{
        display: none;
    }
    #img{
        display: none;
    }
    .media_query{
        margin: 100px 125px 50px 125px;
    }
    .mq_link{
    margin: 150px 0px 0px 170px;
    }
}